/* You can add global styles to this file, and also import other style files */
:root {
  --green: #a9e8b6;
  --yellow: #ffd693;
  --pink: #ffa6a0;
  --purple: #43447a;
}

body {
  background-color: var(--yellow) !important;
  color: var(--purple) !important;;
  font-weight: lighter !important;;
}
